$fontcolor:  rgb(100%, 100%, 100%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  // background-color: $backgroundcolor;
  background: url('https://i.ytimg.com/vi/r9sRycljzlw/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
  padding: 20px;
}


#search-bar {
  margin-bottom: 50px;
  background-color: $backgroundcolor;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}


#video-section {
  display: flex;
  flex-direction: row;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

}

@media only screen and (max-width: 1000px) {

  #video-section {
    flex-direction: column;
    flex-wrap: wrap;
  }

}
